* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#btn_tema{
 margin-left: 20px;
 background-color: #1a2735;
 width: 100px;
 height: 30px;
 border-radius: 20px 20px;
 color: white;
 
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

a {
    font-size: 2rem;
    color: white;
    margin-left: 50px;
    border-radius: 12px;
    border: 2px solid white;
    background-color: #717171;
    padding: 3px 9px;
}
 
body{
background-color: rgb(27, 32, 33);
   font-family: 'Rajdhani', sans-serif;
}
main {
  
            margin: 0 auto;
            align-items: center;
            text-align: center;
            align-content: center;
          
            max-width: 1000px;
            line-height:5;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0.4);
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
 
input[type="text"] {
    width: 90%;
    align-self: center;
    border-radius: 8px;
    height: 28px;
    color: #000000;
    margin-bottom: 31px;
}

.btn{
    color: white;
    align-self: center;
    margin-top: 10px;
    width: 50%;
 background-color: #0353A4; 
 border-radius: 20px; 
 width: 137px; 
 margin-left: auto; 
 margin-right: auto; 
 height: 36px;
 font-size: 1rem;
} 
 
 
#conversor_container{
    background-color: white; 
    border-radius: 20px;
    height: 700px;
    color: #717171;
}
 
img{
width: 50%;
}
.erro{
    color: #CC2936;
} 



@media screen and (max-width: 700px) {
    
    main{
        line-height:2.5;
     }
     img{
        display: none;
    }
    .slideshow-container {
        display: none;
    }
    nav > a {
        display: inline-block;
        margin: 20px;
    }

}

.cubo {
    width: 50px;
    height: 50px;
    background: #717171;
    border: 2px solid rgb(0, 0, 0);
  }
  
  .marcado {
    background:  yellow;
  }
  
  #caixa_game {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    width: 100vw;  
    height: 100vh; 
    background: white;
  }
  
  #botao_game {
    position: fixed;
    left: 10px;
    bottom: 25px;
    padding: 25px;
    background-color: #00ff6a;
    cursor: pointer;
    border: 2px solid rgb(1, 1, 104);
    border-radius: 20px 20px 20px 20px;
  }